.root {
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
  
}
.headerFix{
  position: 'sticky';
  top:0;
}
.menuButton {
  margin-right: 2px;
}
.title {
  flex-grow: 1;
}
.iconLeft{
  margin-left: 0;
}
.heroContent {
  margin-top: 64px;
  background: url("../Assets/images/hero.jpg") no-repeat;
  background: cover;
  padding: 40px 0 40px;
}
.heroButtons {
  margin-top: 18px;
}
.heroTitle{
  font-weight: 400 !important;
}
.heroSubTitle{
  font-weight: 300 !important;
  color: black;
  opacity: 0.8;
}
.cardGrid {
  padding-top: 12px;
  padding-bottom: 8px;
}
.card {
  height: '100%';
  display: 'flex';
  flex-direction: 'column';
}
.cardMediaStyle {
  height: 100px;
  padding-top: '50%';
}
.IconStyles{
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardContent {
  flex-Grow: 1;
};
.avatarSize {
 width: 20px;
 height: 20px;
}
.bottomMargin{
  margin-bottom: 1rem !important;
}